h2(style="margin-top: 0;") Getting Started Guide
p.lead This document is designed to get you started on NodeGear <small>PaaS</small>

ol
	li: a(ui-sref="profile.view") Sign up for our newsletter (sent twice per month)
	li: a(ui-sref="add") Try our one-click ghost.js blog
	li: a(ui-sref="add") Add your own custom application. (see below)

h3 Creating an Application

h4 Requirements

ul
	li App must be able to start using <code>npm start</code> command.
	li Your <a ui-sref="ssh.keys">nodegear public key</a> must be added as a deploy key in your private git repository.
	li Be a web application and respond to port 80

blockquote
	strong Note:
	|  Storage is ephemeral. The app server will pull your app using git, and when the process stops, all files are deleted. Use AWS S3 or Mongodb GridFS to store permanent data.

h3#dns Custom Domains

p You automatically receive a subdomain on <code>app-name-<span ng-bind="user.username">username</span>.ngapp.io</code>. It includes free SSL termination (on the ngapp.io domain).
	br
	| To host the content from your own domain, you should point your DNS to our servers. It is recommended that you use CNAME-type records in case our server IP changes.

p: small <strong>Note:</strong> You can choose which server you deploy to for each process of your app. One app can run on multiple servers. It is advised you use a DNS provider that can determine the latency for the user to the host, and provide A records based on that.

dl.dl-horizontal
	dt Location
	dd: abbr(title="") CNAME
	dt Europe
	dd: i eu-west.server.nodegear.io