.row
	.col-sm-12.col-md-12.col-lg-12.col-xs-12
		h2.page-header Balance & Usage
			button.btn.btn-success.pull-right(ui-sref="profile.billing.addCredits")
				i.fa.fa-fw.fa-plus
				|  Add Funds

div(ng-controller="CurrentUsageController" ng-init="init()")
	.row
		.col-md-6.col-sm-6.col-lg-6
			h3.text-center(ng-style="balanceStyle")
				| £{{ balance }}
			h4.text-center {{ balanceStatus }}
		.col-md-6.col-sm-6.col-lg-6
			h3.text-center(ng-style="usageStyle")
				| £{{ used }}
			h4.text-center: a(ui-sref="profile.billing.usage") Current Period Charges

ui-view(autoscroll="false")