hr
div(ng-controller="PaymentMethodsController" ng-init="init('#{token}')" ng-cloak)
	.row
		.col-sm-12
			h4 Payment Methods
				button.btn.btn-success.pull-right(ui-sref="profile.billing.paymentMethods.add") New Payment Method
	
	.row
		.col-sm-12
			table.table.table-striped(ng-show="cards.length > 0")
				thead
					tr
						th Card Name
						th Cardholder
						th Number
				tbody
					tr(ng-repeat="c in cards")
						td: a(ui-sref="profile.billing.paymentMethods.edit({ card: c._id })") {{ c.name }}
								span(ng-show="c.default")  (Default)
						td {{ c.cardholder }}
						td XXXX XXXX XXXX {{ c.last4 }}
	
	.row
		.col-sm-12
			p(ng-show="cards.length == 0") You have no cards.

	ui-view(autoscroll="false")