h3 Two Factor Authentication Added

p Your account is protected by a second form of authentication. TFA tokens can be added to Authy or Google Authenticator app.
p You will be asked for a token when logging in.

p If this wasn't you, please contact us immediately at support@nodegear.com.

p Best Regards,
	br
	| NodeGear