mixin navbar(active)
	header
		nav.navbar.navbar-default.navbar-static-top(style="margin-bottom: 0")
			.full-width-container
				.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target=".nodecloud-navbar-collapse")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") NodeGear <sup><small>ßeta</small></sup>
				.collapse.navbar-collapse.nodecloud-navbar-collapse
					ul.nav.navbar-right.navbar-top-links
						if user.admin
							li: a(href="/admin&no_router") Admin
						li.dropdown
							a.dropdown-toggle(href data-toggle="dropdown")
								| Apps 
								i.fa.fa-caret-down
							ul.dropdown-menu(ng-cloak)
								li(ng-repeat="a in apps" ng-class="{ active: app._id == a._id }")
									a(ui-sref="app.dashboard({ id: a.nameUrl })") {{ a.name }}
								
								li.dropdown-header(ng-hide="apps.length")
									| No Applications
								li.divider(ng-show="apps.length")
								li
									a(ui-sref="add") Add Application
						li.dropdown
							a.dropdown-toggle(href data-toggle="dropdown")
								= user.name
								|  
								i.fa.fa-caret-down
							ul.dropdown-menu
								li
									a(ui-sref="profile.view") Profile
								li.divider
								li
									a(href="/logout") Logout