
ul.nav.sidenav(role="navigation")
	li: h4.text-center: a(ui-sref="apps") NodeGear

	li(ng-class="{ active: $state.includes('gettingStarted') }")
		a(ui-sref="gettingStarted")
			i.fa.fa-thumb-tack.fa-fw
			|  Getting Started
	li(ng-class="{ active: $state.includes('apps') || $state.includes('app') }"): a(ui-sref="apps") Gears
	li(ng-class="{ active: $state.includes('databases') || $state.includes('database_add') || $state.includes('database_edit') }"): a(ui-sref="databases") Databases
	li(ng-class="{ active: $state.includes('profile.view') || $state.includes('profile.security') }")
		a(ui-sref="profile.view") Account Settings
	li(ng-class="{ active: $state.includes('profile.billing') && !$state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.history") Billing
	li(ng-class="{ active: $state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.paymentMethods") Payment Methods
	li(ng-class="{ active: $state.includes('ssh.keys') }")
		a(ui-sref="ssh.keys") SSH Keys
	li(ng-class="{ active: $state.includes('tickets') }")
		a(ui-sref="tickets.tickets") Support Tickets

	li(ng-show="user.admin" ng-cloak style="margin-top: 20px;"): a(href="/admin" target="_blank")
		i.fa.fa-external-link.fa-fw
		|  Admin

	li: a(href="/logout")
		i.fa.fa-sign-out.fa-fw
		|  Logout

	.kiosk-toggle
		a(ng-click="toggleKiosk()")
			span.caret