
ul.nav.sidenav(role="navigation")
	li: h4.text-center: a(ui-sref="apps") NodeGear
	
	li(ng-class="{ active: $state.includes('gettingStarted') }")
		a(ui-sref="gettingStarted")
			i.fa.fa-thumb-tack.fa-fw
			|  Getting Started
	li(ng-class="{ active: $state.includes('apps') || $state.includes('app') }"): a(ui-sref="apps") Gears
	li(ng-class="{ active: $state.includes('profile.view') }")
		a(ui-sref="profile.view") Account Settings
	li(ng-class="{ active: $state.includes('profile.billing') && !$state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.history") Billing
	li(ng-class="{ active: $state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.paymentMethods") Payment Methods
	li(ng-class="{ active: $state.includes('profile.ssh') }")
		a(ui-sref="profile.ssh") SSH Public Key
	li(ng-class="{ active: $state.includes('tickets') }")
		a(ui-sref="tickets.tickets") Support Tickets