extends layout

block content
	mixin navbar(-1)
	
	.container
		.row
			.col-md-6.col-sm-6.col-lg-6
				.panel.panel-default
					.panel-heading
						h1.panel-title Login
					.panel-body
						form.form-horizontal(action="/auth/password", method="POST")
							input(type="hidden", name="_csrf", value=token)
							input(type="hidden", name="auth", value="login")
							.form-group
								label.col-md-3.col-xs-3.col-lg-3.col-sm-3.control-label(for="email") Email
								.col-lg-9.col-md-9.col-xs-9.col-sm-9
									input#email.form-control(type="email", name="email", placeholder="Email Address", ng-model="email")
							.form-group
								label.col-md-3.col-xs-3.col-lg-3.col-sm-3.control-label(for="password") Password
								.col-lg-9.col-md-9.col-xs-9.col-sm-9
									input#password.form-control(type="password", name="password", placeholder="Password", ng-model="password")
							.form-group
								.col-lg-9.col-md-9.col-xs-9.col-sm-9.col-lg-offset-3.col-md-offset-3.col-xs-offset-3.col-sm-offset-3
									input.btn.btn-primary(type="submit", value="Log in")
									a.btn.btn-link Reset my password
			.col-md-6.col-sm-6.col-lg-6
				.panel.panel-default
					.panel-heading
						h1.panel-title Register
					.panel-body
						form.form-horizontal(action="/auth/register", method="POST")
							input(type="hidden", name="_csrf", value=token)
							input(type="hidden", name="auth", value="login")
							.form-group
								label.col-md-3.col-xs-3.col-lg-3.col-sm-3.control-label(for="regName") Full Name
								.col-lg-9.col-md-9.col-xs-9.col-sm-9
									input#regName.form-control(type="text", name="name", placeholder="Your Full Name", ng-model="name")
							.form-group
								label.col-md-3.col-xs-3.col-lg-3.col-sm-3.control-label(for="regEmail") Email
								.col-lg-9.col-md-9.col-xs-9.col-sm-9
									input#regEmail.form-control(type="email", name="email", placeholder="Email Address", ng-model="email")
							.form-group
								label.col-md-3.col-xs-3.col-lg-3.col-sm-3.control-label(for="regPassword") Password
								.col-lg-9.col-md-9.col-xs-9.col-sm-9
									input#regPassword.form-control(type="password", name="password", placeholder="Password", ng-model="password")
							.form-group
								.col-lg-9.col-md-9.col-xs-9.col-sm-9.col-lg-offset-3.col-md-offset-3.col-xs-offset-3.col-sm-offset-3
									input.btn.btn-success(type="submit", value="Register")