.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1.authentication
		h3.text-center NodeGear
		p.text-center Thanks for Registering!
			br
			| You're in a queue. Once we're ready..
		ol
			li  
		p.text-center: small
			a.link-muted(ui-sref="forgot") Forgot Password?
			br
			| Don't have an account? 
			a(ui-sref="register") Sign Up