.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1.authentication
		h3.text-center NodeGear
		p.text-center Thanks for Registering!
		blockquote We're currently running a beta program. You have been put onto a waiting list. We will let you know shortly!

		p.text-center: a(target="_blank" href="https://twitter.com/intent/tweet?screen_name=nodegear&text=I%20just%20signed%20up%20for%20NodeGear%20beta!%20NodeGear%20is%20a%20simpe%20node.js%20hosting%20platform%20for%20developers." class="twitter-mention-button" data-related="matejkramny") Tweet to @nodegear

		p.text-center: small
			a(ui-sref="login") Log in
			br
			| Don't have an account? 
			a(ui-sref="register") Sign Up