!!! 5
html(ng-app="nodecloud")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		meta (name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title NodeCloud - #{title}
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet", href="/css/bootstrap.min.css")
			link(rel="stylesheet", href="/css/bootstrap-theme.css")
			link(rel="stylesheet", href="/css/bootstrap-nodecloud.css")
			link(rel="stylesheet", href="/css/font-awesome.min.css")
			
			//- Temporary hack until BS3.0.1 comes out.. 
			style.
				.modal-open, .modal-open .navbar-fixed-top {
					margin-right: auto !important;
				}

	body
		include inc/navbar
		include inc/flash
		
		block content
			+navbar(0)
			.full-width-container: +flash()
		
		ui-view
		
		.full-width-container
			.row
				.col-xs-12.col-md-12.col-sm-12.col-lg-12
					footer
						.text-muted.text-center NodeCloud ~ 
							a(href="http://matej.me/", target="_blank") Matej Kramny
							| , 
							a(href="http://www.linkedin.com/pub/alan-campbell/77/820/9", target="_blank") Alan Campbell
						br
		
		block js
			script(src="/js/jquery.min.js", defer)
			script(src="/js/bootstrap.min.js", defer)
			script(src="/js/angular.min.js", defer)
			script(src="/js/angular-ui-router.min.js", defer)
			if loggedIn
				script(src="/js/jquery.flot.min.js", defer)
				script(src="/js/angular-nodecloud.js", defer)
				script(src="/js/nc-apps.js", defer)
				script(src="/js/nc-logs.js", defer)
				
		//- page-specific js
		block addonjs