doctype
html(ng-app= loggedIn ? "nodecloud" : "")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title NodeGear
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet", href="/css/bootstrap.min.css")
			link(rel="stylesheet", href="/css/sb-admin.css")
			link(rel="stylesheet", href="/css/font-awesome.min.css")

	body
		include inc/navbar
		include inc/flash
		
		#wrapper
			
			block content
				+navbar(0)
				+flash()
			nav.navbar-default.navbar-static-side(role="navigation")
				.sidebar-collapse
					ul.nav#side-menu
						if (loggedIn)
							li
								a(href)
									i.fa.fa-dashboard.fa-fw
									|  Dashboard
							li
								a(ui-sref="add")
									i.fa.fa-plus.fa-fw
									|  Add Application
							li
								a(ui-sref="analytics") Analytics
							li.divider(style="height:20px;")
							li
								a(ui-sref="app.dashboard({id: app._id})")
									i.fa.fa-dashboard.fa-fw
									|  {{ app.name }}
							li
								a(ui-sref="app.logs({id: app._id})")
									i.fa.fa-comments.fa-fw
									|  Logs
							li
								a(ui-sref="app.traffic({id: app._id})")
									i.fa.fa-bolt.fa-fw
									|  Traffic
							li
								a(ui-sref="app.usage({id: app._id})")
									i.fa.fa-eye.fa-fw
									|  Usage
							li
								a(ui-sref="app.settings({id: app._id})")
									i.fa.fa-wrench.fa-fw
									|  Settings
						else
							li(class= active == -1 ? "active" : null)
								a(href="/") Login / Register
						if (isDemo)
							li: a(href="http://www.kickstarter.com/projects/echobob/nodecloud") Kickstarter Campaign
					
			#page-wrapper
				ui-view
		
			.container
				.row
					.col-xs-12.col-md-12.col-sm-12.col-lg-12
						footer
							br
							.text-center NodeGear - 
								a(href="http://matej.me/", target="_blank") Matej Kramny
								| , 
								a(href="http://www.linkedin.com/pub/alan-campbell/77/820/9", target="_blank") Alan Campbell
							br
		
		block js
			script(src="/js/jquery.min.js", defer)
			script(src="/js/bootstrap.min.js", defer)
			script(src="/js/jquery.metisMenu.js" defer)
			script(src="/js/sb-admin.js" defer)
			script(src="/js/angular.min.js", defer)
			script(src="/js/angular-ui-router.min.js", defer)
			if loggedIn
				script(src="/js/highcharts.js", defer)
				script(src="/js/angular-nodecloud.js", defer)
				script(src="/js/nc-apps.js", defer)
				script(src="/js/nc-logs.js", defer)
				
		//- page-specific js
		block addonjs