doctype
html(ng-app= loggedIn ? "nodecloud" : "")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet" href="/css/bootstrap.min.css")
			link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
			link(rel="stylesheet" href="/css/font-awesome.min.css")

	body
		include inc/navbar
		include inc/flash
		
		#wrapper
			
			block content
				+navbar(0)
				+flash()
			nav.navbar-default.navbar-static-side(role="navigation")
				.sidebar-collapse
					ul.nav#side-menu
						if (loggedIn)
							li
								a(ui-sref="gettingStarted")
									i.fa.fa-thumb-tack.fa-fw
									|  Getting Started
							li
								a(ui-sref="add")
									i.fa.fa-plus.fa-fw
									|  Add Application
							li
								a(ui-sref="analytics") Analytics
							li
								a(href) Account
									i.fa.arrow
								ul.nav.nav-second-level
									li
										a(ui-sref="profile") Settings
									li
										a(ui-sref="profile.ssh") SSH Public Key
							li
								a(ui-sref="tickets") Support Tickets
							li.divider(style="height:20px;" ng-hide="app == null")
							li(ng-hide="app == null")
								a(ui-sref="app.dashboard({id: app._id})")
									i.fa.fa-dashboard.fa-fw
									|  {{ app.name }}
							li(ng-hide="app == null")
								a(ui-sref="app.logs({id: app._id})")
									i.fa.fa-comments.fa-fw
									|  Logs
							li(ng-hide="app == null")
								a(ui-sref="app.traffic({id: app._id})")
									i.fa.fa-bolt.fa-fw
									|  Traffic
							li(ng-hide="app == null")
								a(ui-sref="app.usage({id: app._id})")
									i.fa.fa-eye.fa-fw
									|  Usage
							li(ng-hide="app == null")
								a(ui-sref="app.settings({id: app._id})")
									i.fa.fa-wrench.fa-fw
									|  Settings

			#page-wrapper
				ui-view
		
			.container
				.row
					.col-xs-12.col-md-12.col-sm-12.col-lg-12
						footer
							br
							p.text-center NodeGear
								br
								a(href) Contact
								|  | 
								a(href) Support
								|  | 
								a(href) System Status
								span.pull-right.text-muted #{version}-##{versionHash}
							br
		
		block js
			script(src="/js/jquery.min.js" defer)
			script(src="/js/bootstrap.min.js" defer)
			script(src="/js/jquery.metisMenu.js" defer)
			script(src="/js/sb-admin.js" defer)
			script(src="/js/angular.min.js" defer)
			script(src="/js/angular-ui-router.min.js", defer)
			if loggedIn
				script(src="/socket.io/socket.io.js" defer)
				script(src="/js/moment.min.js" defer)
				script(src="/js/highcharts.js" defer)
				script(src="/js/angular-nodecloud.js" defer)
				script(src="/js/nc-apps.js" defer)
				script(src="/js/nc-logs.js" defer)
				script(src="/js/ng-tickets.js" defer)
				
		//- page-specific js
		block addonjs