doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet" href="/css/bootstrap.min.css")
			link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
			link(rel="stylesheet" href="/css/font-awesome.min.css")
			link(rel="stylesheet" href="/css/nodegear.css")

	body
		include inc/navbar
		include inc/sidebar
		include inc/flash
		
		#wrapper
			+navbar(0)
			+flash()
			+sidebar
			
			#page-wrapper
				block content
			
			.container
				.row
					.col-xs-12.col-md-12.col-sm-12.col-lg-12
						footer
							br
							p.text-center NodeGear
								br
								a(href) Contact
								|  | 
								a(href) Support
								|  | 
								a(href) System Status
							p.text-center
								span.text-muted v#{version}-##{versionHash}
							br
		
		block js
			script(src="/js/require.min.js" data-main="/js/ng.js")
			
		//- page-specific js
		block addonjs