doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title NodeGear Unavailable
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")

		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

		!= newrelic.getBrowserTimingHeader()

	body
		.jumbotron(style="margin-top:20px;")
			.container
				h1 He's Dead, Jim!
				p Sorry, NodeGear is Unable to service your request at this time.
					br
					| Please Check Our 
					a(href="https://twitter.com/nodegear") Twitter Page
					|  and 
					a(href="http://status.nodegear.io") status page
					|  for service updates.