[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
	font-family: Roboto, Lato, Helvetica;
}

.link-larger {
	font-size: 1.6em;
}
.link-larger:hover {
	text-decoration: none;
}

.link-black, .link-black:hover {
	color: #333;
}
.link-underline {
	text-decoration: underline;
}

.link-muted, .link-muted:hover {
	color: #999;
}

@media (min-width: 768px) {
	.authentication {
		margin-top: 100px;
	}
	.sidenav {
		position: fixed;
		height: 100%;
		overflow-y: auto;
		z-index: 2;
	}
	ui-view {
		z-index: 1;
	}
}

.container-liquid {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.sidenav {
	padding-top: 20px;
	background: #FFF;
	width: inherit;
	padding-right: 20px;
}
.sidenav li.active a {
	background: #EEE;
}

.sidenav li {
	margin-bottom: 3px;
}

.pagestyle {
	padding-top: 20px;
}

.sidenav a {
	color: #111;
}
.sidenav a:hover, .sidenav li.active a {
	border-radius: 4px;
	color: #16a085;
}

.loading-text {
	margin-top: 20px;
}

.kiosk-toggle {
	position: absolute;
	top: 0;
	right: 20px;
	cursor: pointer;
	z-index: 2;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.kiosk-toggle .caret {
	border-bottom-color: rgba(51, 51, 51, 0.4);
	border-top-color: rgba(51, 51, 51, 0.4);
}

.inside_container {
	left: 0;
	right: auto;
	bottom: auto;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

.process-box .panel-heading small {
	color: #000;
	line-height: 20px;
}
.process-box .panel-body {
	height: 180px;
}

@media (max-width: 768px) {
	.process-box .panel-body {
		height: auto;
	}
}

.thumbnail {
	height: 150px;
	width: 150px;
	border-radius: 150px;
	margin: auto;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 4px;
}
.thumbnail-small {
	height: 74px;
	width: 74px;
	border-radius: 74px;
	padding: 1px;
}
.thumbnail-small:nth-child(1) {
	margin-bottom: 5px;
}
.thumbnail img, .thumbnail svg {
	height: 140px;
	width: 140px;
	border-radius: inherit;
	border: none;
}
.thumbnail-small img, .thumbnail-small svg {
	height: 70px;
	width: 70px;
}
.thumbnail svg {
	margin: auto;
}
.svg-thumbnail {
	position: relative;
}
.svg-thumbnail h1 {
	font-weight: normal;
	font-size: 25px;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 130px;
	line-height: 130px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-align: center;
}
.svg-thumbnail span {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-weight: normal;
	position: absolute;
	font-size: 14px;
	width: 150px;
	height: 150px;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 180px;
	color: #999999;
}
.thumbnail-small h1 {
	font-size: 13px;
	width: 74px;
	height: 74px;
	line-height: 64px;
}
.thumbnail-small span {
	font-size: 7px;
	width: 74px;
	height: 74px;
	line-height: 90px;
}