[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.link-larger {
	font-size: 1.6em;
}
.link-larger:hover {
	text-decoration: none;
}

.link-black, .link-black:hover {
	color: #333;
}
.link-underline {
	text-decoration: underline;
}

.link-muted, .link-muted:hover {
	color: #999;
}

@media (min-width: 768px) {
	.authentication {
		margin-top: 100px;
	}
	.sidenav {
		position: fixed;
		height: 100%;
		overflow-y: scroll;
		z-index: 2;
	}
	ui-view {
		z-index: 1;
	}
}

.container-liquid {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.sidenav {
	padding-top: 20px;
	background: #FFF;
}
.sidenav li.active a {
	background: #EEE;
}

.sidenav li {
	margin-bottom: 3px;
}

.pagestyle {
	padding-top: 20px;
}

.sidenav a {
	color: #111;
}
.sidenav a:hover, .sidenav li.active a {
	border-radius: 4px;
	color: #16a085;
}

.loading-text {
	margin-top: 20px;
}