[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.link-larger {
	font-size: 1.6em;
}
.link-larger:hover {
	text-decoration: none;
}

.link-black, .link-black:hover {
	color: #333;
}
.link-underline {
	text-decoration: underline;
}

.link-muted, .link-muted:hover {
	color: #999;
}

@media (min-width: 768px) {
	.authentication {
		margin-top: 100px;
	}
}