#keyModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal") &times;
				h4.modal-title(ng-show="addKey") Add new Public Key
				h4.modal-title(ng-hide="addKey") Edit Key - {{ key.name }}
			.modal-body
				form.form-horizontal
					.form-group
						label.control-label.col-md-4.col-lg-3.col-sm-3 Name
						.col-md-7.col-lg-8.col-sm-7
							input.form-control(type="text" ng-model="key.name" placeholder="Public Key Name" required)
					.form-group
						label.control-label.col-md-4.col-lg-3.col-sm-3 Public Key
						.col-md-7.col-lg-8.col-sm-7
							textarea.form-control(rows="12" ng-disabled="key.installed" ng-model="key.public_key")
					p(ng-show="key.system_key") This is the system key. It is used to access git repositories during installation. If you want your nodegear user to access a private repository, install this public key (above) to the host.
			.modal-footer
				button.btn.btn-danger.pull-left(ng-hide="addKey" ng-click="deleteKey()") Delete Public Key
				span.text-muted(ng-class="{ 'pull-left': addKey }" ng-bind="status") Loading..
				button.btn.btn-default(data-dismiss="modal") Close
				button.btn.btn-success(ng-click="saveKey()" ng-disabled="!key.name")
					span(ng-show="addKey") Create
					span(ng-hide="addKey") Save
