.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1.authentication
	h1.text-center NodeGear
	p.lead.text-center Password Reset
	form(name="forgot" ng-init="setCsrf('#{token}')")
		fieldset
			p.text-center(ng-cloak ng-show="status.length > 0" ng-bind="status")
			.form-group
				input.form-control.text-center.input-lg(placeholder="Username / Email Address" ng-disabled="authDetailDisabled" type="email" autofocus="" ng-model="authDetail")
			.form-group
				button.btn.btn-lg.btn-success.btn-block(ng-disabled="authDetail.length == 0" ng-click="submitForgot()")
					i.fa.fa-envelope.fa-fw
					|  Reset My Password
		p.text-center: small
			a(ui-sref="login") Sign In
			|  or 
			a(ui-sref="register") Sign Up