.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1.authentication
		h1.text-center NodeGear
		p.lead.text-center Password Update Required
		form(name="pwd" ng-init="init()")
			fieldset
				p.text-center(ng-cloak ng-show="status.length > 0" ng-bind="status")
				.form-group(style="margin-bottom:10px;")
					input.form-control.text-center.input-lg(placeholder="New Password" type="password" ng-model="password.pwd" autofocus)
				.form-group(ng-class="{ 'has-error': password.fail }")
					input.form-control.text-center.input-lg(placeholder="Repeat Password" type="password" ng-model="password.repeat")
					span.input-icon.fui-question(ng-show="password.fail" title="Passwords do not match")
				.form-group
					button.btn.btn-lg.btn-success.btn-block(ng-click="reset()")
						| Reset Password