.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.authentication
	h1.text-center NodeGear
	p.lead.text-center Register for a NodeGear Account

.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.authentication-box.nodegear-slide-in-left
	form(name="register" ng-init="init('#{token}')")
		fieldset
			p.text-center(ng-cloak ng-show="status.length > 0" ng-bind="status")

			.form-group(style="margin-bottom:10px;" ng-class="{ 'has-error': errors.name == true }")
				input.form-control.input-lg.text-center(placeholder="Full Name" type="text" name="full_name" autofocus="" ng-model="user.name")
				p.help-block(ng-show="errors.name == true") Name is Invalid
			.form-group(style="margin-bottom:10px;" ng-class="{ 'has-error': errors.email == true }")
				input.form-control.input-lg.text-center(placeholder="Email Address" type="email" ng-model="user.email")
				p.help-block(ng-show="errors.email == true") Email Address is Invalid
				p.help-block(ng-show="taken.email == true") Email Address is already Registered
			.form-group(style="margin-bottom:10px;" ng-class="{ 'has-error': errors.username == true }")
				input.form-control.input-lg.text-center(placeholder="Username" type="text" ng-model="user.username")
				p.help-block(ng-show="errors.username == true") Username should be between 3 and 15 characters
			.form-group(ng-class="{ 'has-error': errors.password == true }")
				input.form-control.input-lg.text-center(placeholder="Password" type="password" ng-model="user.password")
				p.help-block(ng-show="errors.password == true") Password should be more than 8 characters
			.form-group
				button.btn.btn-lg.btn-success.btn-block(ng-click="registerUser()")
					i.fa.fa-key.fa-fw
					|  Register

		p.text-center: small
			| I have an account, take me to the 
			a(ui-sref="login") Login page