h3 Your account's password has changed.

p We're just letting you know that you've requested us to change your account's password. If this wasn't you, please let us know immediately at 
	a(href="mailto:support@nodegear.com") support@nodegear.com
	| .

p Thanks,
	br
	| NodeGear
p Note: You are receiving this email because you signed up for NodeGear. To Unsubscribe, please visit your account, or contact us at info@nodegear.com.