h3 Welcome to NodeGear, #{ user.name }!

p You've successfully registered an account for NodeGear.
p We have added your user onto our waiting list. If you want to ask us any questions, reply to this email!

p Thanks,
	br
	| NodeGear
p Note: You are receiving this email because you signed up for NodeGear. To Unsubscribe, please visit your account, or contact us at info@nodegear.com.