.row
	.col-xs-12
		h2(style="margin-top: 0;")
			i.fa.fa-gears.fa-fw
			|  Gears
			.pull-right
				button.btn.btn-success(ui-sref="add") Add Gear

.row
	.col-sm-6
		h2.text-center(style="color:#5cb85c;" ng-bind="appsOn") 0
		h3.text-center
			| Online
	.col-sm-6
		h2.text-center(style="color:#d9534f;" ng-bind="appsOff") 0
		h3.text-center
			| Offline
br
.row(ng-if="apps.length == 0")
	.col-sm-12
		br
		p.text-center.lead Uh, oh. You have no apps :/
			br
			br
			button.btn.btn-lg.text-center.btn-info(ui-sref="add") Add an Application

.row(ng-if="apps.length > 0")
	.col-xs-12
		.table-responsive
			table.table
				thead
					tr
						th Running Applications
				tbody
					tr(ng-repeat="app in apps | filter:{ isRunning: true }")
						td
							span(title="Processes Online" style="color:#5cb85c;") {{ app.running }}
								i.fa.fa-fw.fa-arrow-up
							| &nbsp;
							span(title="Processes Offline" style="color:#d9534f;") {{ app.stopped }}
								i.fa.fa-fw.fa-arrow-down
							| &nbsp;&nbsp;
							a.link-larger(ui-sref="app.processes({ id: app.nameUrl })") {{ app.name }}
							span {{ app.server }}
							span.pull-right(ng-repeat="stat in app.stat_processes" style="padding: 10px;")
								| CPU: {{ stat.monitor.cpu_percent }}%
								| RAM: {{ stat.monitor.rssString }}
				thead
					tr
						th Stopped Applications
				tbody
					tr(ng-repeat="app in apps | filter:{ isRunning: false }")
						td
							span(title="Processes Online" style="color:#5cb85c;") {{ app.running }}
								i.fa.fa-fw.fa-arrow-up
							| &nbsp;
							span(title="Processes Offline" style="color:#d9534f;") {{ app.stopped }}
								i.fa.fa-fw.fa-arrow-down
							| &nbsp;&nbsp;
							a(ui-sref="app.processes({ id: app.nameUrl })") {{ app.name }}
							span {{ app.server }}
							span.pull-right(ng-repeat="stat in app.stat_processes" style="padding: 10px;")
								| CPU: {{ stat.monitor.cpu_percent }}%
								| RAM: {{ stat.monitor.rssString }}