h2(style="margin-top: 0;") Domains
	.btn-group.pull-right
		button.btn.btn-success(ui-sref="app.domains.addDomain({ id: app.nameUrl })") Add Domain

blockquote(ng-if="_app.domains.length == 0") You have no domains. You won't be able to start any processes until you have one.

table.table(ng-if="_app.domains.length > 0")
	thead
		th Domain
		th SSL
		th Endpoint
	tbody
		tr(ng-repeat="domain in _app.domains")
			td: a(ui-sref="app.domains.editDomain({ id: app.nameUrl, did: domain._id })") {{ domain.domain }}
			td
				span(ng-if="domain.ssl && domain.ssl_only") SSL Enforced
				span(ng-if="domain.ssl && !domain.ssl_only") SSL Enabled
				span(ng-if="!domain.ssl") SSL OFF
			td
				strong {{ domain.domain }}

ui-view(autoscroll="off")