h2(style="margin-top: 0;") Application Logs

blockquote(ng-if="hasNoProcesses == true") You hadn't started any processes yet.. That means no logs were <strong>generated</strong> yet.

ui-view(autoscroll="false")