h2(style="margin-top: 0;") Settings

form.form-horizontal(autocomplete="off" ng-init="setCsrf('#{token}')")
	.form-group(ng-hide="status.length == 0")
		.col-sm-9.col-sm-offset-3
			p(ng-bind="status")
	.form-group
		label.col-sm-3.control-label(for="name") Name
		.col-sm-6
			input#name.form-control(type="text" required ng-model="app.name" placeholder="What's your app called")
	.form-group
		label.col-sm-3.control-label(for="location") App Location (git)
		.col-sm-6
			input#location.form-control(type="text" required ng-model="app.location" placeholder="Git Location of your app")
	.form-group
		label.col-sm-3.control-label(for="branch") Git Branch
		.col-sm-6
			input#branch.form-control(type="text" required ng-model="app.branch" placeholder="Git Branch (e.g. master)")
	.form-group
		.col-sm-6.col-sm-offset-3
			.checkbox
				label
					input(type="checkbox" ng-model="app.useSnapshots")
					|  Use Snapshots (experimental)
			p.help-text If enabled, we will save the difference of your repository when the process stops. You can then download the changes. The snapshot will be automatically applied before the process starts.
				br
				br
				| Please note that you will be limited to one process if enabled.
	.form-group
		.col-sm-9.col-sm-offset-3
			button.btn.btn-success(ng-click="saveSettings()") Save

hr

.row
	.col-sm-12
		h3 Delete Application
		p All processes must be switched off before application can be deleted.
		p Deleting an app is <em>irreversible</em>. It will destroy:
		ol
			li App Logs
			li Release Registered Domains
			li Delete all analytics captured
		button.btn.btn-danger(ng-click="deleteApp()" ng-disabled="!canDelete") {{ deleteText }}
br
.clearfix
