extends layout

block content
	.row
		.col-sm-12
			h1.page-header(style="margin-top: 0;") Admin
			h3
				code X
				|  Applications Running
			h3
				code X
				|  Applications Created
			h3
				code X
				|  MB of RAM Used
			h3
				code X
				|  MB of RAM Free
			h3
				code X
				|  % CPU Used
			h3
				code X
				|  Tickets Open
			h3
				code X
				|  Tickets Total
			p.lead etc..