extends layout

append js
	script(src="#{cdn}/js/controllers/admin/invitations.js" defer)

block content
	div(ng-controller="InvitationsController")
		.row
			.col-lg-12.col-md-12.col-sm-12
				h1.page-header Invitations
		.row
			.col-lg-12.col-md-12.col-sm-12
				table.table(ng-table="pendingInvitesTable" show-filter="true")
					tbody
						tr(ng-repeat="invitation in $data")
							td(data-title="'Created'" sortable="'created'") {{ invitation.created }}
							td(data-title="'User Name'"): a(href="/admin/user/{{ invitation.user._id }}") {{ invitation.user.name }}
							td(data-title="'User Email'") {{ invitation.user.email }}
							td
								.btn-group.pull-right
									a.btn.btn-default.btn-xs(ng-click="approveInvitation(invitation)") Approve User
									a.btn.btn-danger.btn-xs(ng-click="rejectInvitation(invitation)") Reject
				
				table.table(ng-table="invitesTable" show-filter="true")
					tbody
						tr(ng-repeat="invitation in $data")
							td(data-title="'Created'" sortable="'created'") {{ invitation.created }}
							td(data-title="'User Name'"): a(href="/admin/user/{{ invitation.user._id }}") {{ invitation.user.name }}
							td(data-title="'User Email'") {{ invitation.user.email }}
							td(data-title="'Approved By'"): a(href="/admin/user/{{ invitation.confirmed_by._id }}") {{ invitation.confirmed_by.name }}
							td(data-title="'Approved'" sortable="'confirmed'") {{ invitation.confirmed }}