extends layout

block content
	.row
		.col-sm-12
			h1.page-header(style="margin-top: 0;") Support Tickets
	.row
		.col-sm-12
			table.table
				thead
					tr
						th Subject
						th User
						th Created
						th &nbsp;
				tbody
					for ticket in tickets
						tr
							td= ticket.subject
							td= ticket.user.name
							td= ticket.created
							td