extends ../layout

block content
	.row
		.col-sm-12
			h1.page-header(style="margin-top: 0;") Payment Methods
	.row
		.col-sm-12
			table.table.table-responsive
				thead
					tr
						th: a(href="/admin/paymentMethods?sort=-name") Name
						th User Name
						th: a(href="/admin/paymentMethods?sort=-cardholder") Cardholder
						th: a(href="/admin/paymentMethods?sort=-disabled") Disabled
				tbody
					for pm in paymentMethods
						tr
							td: a(href="/admin/paymentMethod/#{pm._id}")= pm.name
							td: a(href="/admin/user/#{pm.user._id}")= pm.user.name
							td= pm.cardholder
							td= pm.disabled