include ../inc/flash

.row
	+flash()
	.col-lg-12.col-sm-12.col-md-12.col-xs-12
		h1.page-header Add Application
.row
	div(ng-hide="creating")
		.col-lg-6.col-sm-6.col-md-6
			p.lead Create a new <code>node.js</code> application from a template.
			p.lead To create a custom application, please push your code to 
				small git://git@nodegear.io:{{ user.username }}/{repo-name}.git
		.col-lg-6.col-sm-6.col-md-6
			form.form-horizontal(name="addApp" ng-init="template = 'ghost';")
				.form-group
					.col-lg-12.col-md-12.col-xs-12.col-sm-12
						input.form-control(type="text" placeholder="App Name" ng-model="name" required autofocus="")
				
				.form-group
					.col-lg-12.col-md-12.col-xs-12.col-sm-12
						select.form-control(ng-model="template")
							option(value="ghost") Ghost.js

				.form-group
					.col-lg-12.col-md-12.col-xs-12.col-sm-12
						button.btn.btn-success(ng-disabled="addApp.$invalid" ng-click="create('#{token}')") Next
	
	div(ng-show="creating")
		.col-lg-6.col-sm-6.col-md-6
			p.lead Creating <strong>{{ name }}</strong>, your new <strong>{{ template }}</strong> application
			p.lead Watch the install log on the right 
				i.fa.fa-hand-o-right.fa-fw
			p (^ thats the future).. For now, just go ahead and click the continue button.
			button.btn.btn-success(ui-sref="app.dashboard({ id: app_url })") Continue
		.col-lg-6.col-sm-6.col-md-6
			pre ...