include ../inc/flash

.full-width-container
	+flash()
	.row
	.col-lg-2.col-sm-3.col-md-3
		h4.text-center {{ app.name }}
			| &nbsp;
			small.text-center {{ app.pkg.version }}
		
		.text-center
			.btn-group
				a.btn.btn-xs.btn-success(ng-show="app.isInstalled", app-start, ng-disabled="app.isRunning", title="Start")
					i.fa.fa-play.fa-fw
				a.btn.btn-xs.btn-warning(ng-show="app.isInstalled", app-stop, ng-disabled="!app.isRunning", title="Pause")
					i.fa.fa-pause.fa-fw
				a.btn.btn-xs.btn-default(ng-show="app.isInstalled", app-restart, ng-disabled="app.isRunning")
					| Restart
				a.btn.btn-info.btn-xs(ng-hide="app.isInstalled", app-install, ng-disabled="app.isInstalled == false") Install
				a.btn.btn-danger.btn-xs(app-delete, ng-disabled="!app.deleted || !app.isRunning") Delete
		.clearfix
		br
		.text-center
			span(ng-show="app.deleted").label.label-warning Deleted
			span(ng-show="app.isRunning").label.label-success Running on {{ app.installedOn }}
			span(ng-hide="app.isRunning").label.label-warning Stopped
			| &nbsp;
			span.label.label-default PID {{ app.pid }}
		hr
		ul.nav.nav-pills.nav-stacked
			li(ng-class="{ active: $state.includes('app.dashboard') }")
				a(ui-sref="app.dashboard") Dashboard
			li(ng-class="{ active: $state.includes('app.logs') }")
				a(ui-sref="app.logs") Logs
			li(ng-class="{ active: $state.includes('app.traffic') }")
				a(ui-sref="app.traffic") Traffic
			li(ng-class="{ active: $state.includes('app.usage') }")
				a(ui-sref="app.usage") Usage
			li(ng-class="{ active: $state.includes('app.settings') }")
				a(ui-sref="app.settings") Settings
	.col-lg-10.col-sm-9.col-md-9
		ui-view
	.clearfix