.row
	.col-md-12.col-lg-12.col-sm-12.col-xs-12
		h1.page-header Applications
			.pull-right
				button.btn.btn-success(ui-sref="add") Add Application

.row
	.col-md-6.col-lg-6.col-sm-6
		h3.text-center(style="color:#5cb85c;" ng-bind="appsOn") 0
			| {{ appsOn }}
		h4.text-center Online Applications
	.col-md-6.col-lg-6.col-sm-6
		h3.text-center(style="color:#d9534f;" ng-bind="appsOff") 0
		h4.text-center Offline Applications
br
.row
	.col-md-12.col-lg-12.col-sm-12.col-xs-12
		table.table
			tbody
				tr(ng-repeat="app in apps")
					td
						span.link-larger.label.label-success(ng-show="app.isRunning" title="Application Online") &nbsp;
						span.link-larger.label.label-danger(ng-show="!app.isRunning" title="Application Offline") &nbsp;
						| &nbsp;&nbsp;
						a.link-larger(ui-sref="app.dashboard({id: app._id})") {{ app.name }}
						.btn-group.pull-right
							button.link-larger.btn.btn-link(ui-sref="app.logs({ id: app._id })" title="Logs Monitoring")
								i.fa.fa-fw.fa-files-o
							button.link-larger.btn.btn-link(ui-sref="app.traffic({ id: app._id })" title="Traffic Analysis")
								i.fa.fa-fw.fa-bolt
							button.link-larger.btn.btn-link(ui-sref="app.usage({ id: app._id })" title="Usage Monitoring")
								i.fa.fa-fw.fa-eye
							button.link-larger.btn.btn-link(ui-sref="app.settings({ id: app._id })" title="Settings")
								i.fa.fa-fw.fa-wrench