mixin appsNav()
	.panel
		.panel-heading
			.row
				.col-sm-6.col-md-6.col-lg-6
					h1.panel-title Apps
				.col-sm-6.col-md-6.col-lg-6
					a.pull-right.btn.btn-success.btn-xs(href="/app/add") &nbsp;+ Add App
		.panel-body
			ul.nav.nav-pills.nav-stacked
				for a in apps
					li(class= a == app ? "active" : null)
						a(href="/app/"+a._id)= a.name
							.pull-right
								span.label(class= a.isInstalled ? "label-success" : "label-danger")
									if a.isInstalled
										= a.installedOn
									else
										&nbsp;
								| &nbsp;
								span.label(class= a.isRunning ? "label-success" : "label-warning") &nbsp;