extends ../layout

include appsNav

block content
	mixin navbar(0)
	
	.container
		.row
			.col-lg-4.col-sm-4.col-md-4
				mixin appsNav()
			.col-lg-8.col-sm-8.col-md-8
				.panel.panel-default
					.panel-heading
						.col-sm-6.col-md-6.col-lg-6
							h1.panel-title= app.name
						.col-sm-6.col-md-6.col-lg-6
							a.pull-right.btn.btn-success.btn-xs &nbsp;+ Add App
					.panel-body
						h1 Hello world