extends ../layout

include appsNav

block content
	mixin navbar(0)
	
	.container
		.row
			.col-lg-4.col-sm-4.col-md-4
				mixin appsNav()
			.col-lg-8.col-sm-8.col-md-8
				.panel.panel-default
					.panel-heading
						.row
							.col-sm-6.col-md-6.col-lg-6
								h1.panel-title= app.name
							.col-sm-6.col-md-6.col-lg-6
								.pull-right
									a.btn.btn-info.btn-xs(href="/app/"+app._id+"/install") Install
									| &nbsp;
									a.btn.btn-default.btn-xs(href="/app/"+app._id+"/start") Start
									| &nbsp;
									a.btn.btn-default.btn-xs(href="/app/"+app._id+"/stop") Stop
									| &nbsp;
									a.btn.btn-default.btn-xs(href="/app/"+app._id+"/restart") Restart
									| &nbsp;
									a.btn.btn-danger.btn-xs(href="/app/"+app._id+"/delete") Delete
					.panel-body
						p <strong>Name:</strong> 
							= app.name
						p <strong>PKG:</strong> 
							= app.pkg
						p <strong>Location:</strong> 
							= app.location
						p <strong>Running:</strong> 
							= app.isRunning
						p <strong>Installed:</strong> 
							= app.isInstalled