mixin appsNav()
	.panel.panel-default
		.panel-heading
			h1.panel-title Applications
		table.table
			tr(ng-repeat="a in apps")
				td
					a(href="/app/{{a._id}}") {{a.name}}
						.pull-right
							span.label.label-danger(ng-show="a.deleted") DELETED
							&nbsp;
							span.label(ng-class="{ 'label-success': a.isInstalled, 'label-danger': !a.isInstalled }")
								span(ng-hide="a.isInstalled") Not Installed
								span(ng-show="a.isInstalled") {{ a.installedOn }}
							&nbsp;
							span.label(ng-class="{ 'label-success': a.isInstalled, 'label-warning': !a.isInstalled }")
								span(ng-hide="a.isRunning") Down
								span(ng-show="a.isRunning") Up