extends ../layout

include appsNav

block content
	mixin navbar(0)
	
	.container
		.row
			.col-lg-4.col-sm-4.col-md-4
				mixin appsNav()
			.col-lg-8.col-sm-8.col-md-8
				.panel.panel-default
					.panel-heading
						h1.panel-title= app.name
					.panel-body
						p <strong>Name:</strong> 
							= app.name
						p <strong>PKG:</strong> 
							= app.pkg
						p <strong>Location:</strong> 
							= app.location
						p <strong>Running:</strong> 
							= app.isRunning
						p <strong>Installed:</strong> 
							= app.isInstalled