mixin appsNav()
	.row
		.col-sm-11.col-md-11.col-lg-11.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
			h1.panel-title Applications
	br
	.row
		.col-sm-12.col-md-12.col-lg-12
			ul.nav.nav-pills.nav-stacked
				for a in apps
					li(class= a._id.equals(app._id) ? "active" : null)
						a(href="/app/"+a._id)= a.name
							.pull-right
								if a.deleted
									span.label.label-danger DELETED
									| &nbsp;
								span.label(class= a.isInstalled ? "label-success" : "label-danger")
									if a.isInstalled
										= a.installedOn
									else
										| Not Installed
								| &nbsp;
								span.label(class= a.isRunning ? "label-success" : "label-warning")
									if a.isRunning
										// how long?
										| UP X Hours
									else
										| Down
	br