.pagestyle
	.row
		.col-xs-12
			h4
				i.fa.fa-gears.fa-fw
				|  Gears
				.pull-right
					button.btn.btn-success(ui-sref="add") Add Gear

	.row
		.col-sm-6
			h3.text-center(style="color:#5cb85c;" ng-bind="appsOn") 0
				| {{ appsOn }}
			h4.text-center Online Gears
		.col-sm-6
			h3.text-center(style="color:#d9534f;" ng-bind="appsOff") 0
			h4.text-center Offline Gears
	br
	.row
		.col-xs-12
			table.table
				tbody
					tr(ng-repeat="app in apps")
						td
							span.link-larger.label.label-success(ng-show="app.isRunning" title="Application Online") &nbsp;
							span.link-larger.label.label-danger(ng-show="!app.isRunning" title="Application Offline") &nbsp;
							| &nbsp;&nbsp;
							a.link-larger(ui-sref="app.dashboard({ id: app.nameUrl })") {{ app.name }}
							span.link-larger {{ app.server }}
							.btn-group.pull-right
								button.link-larger.btn.btn-link(ui-sref="app.logs({ id: app.nameUrl })" title="Logs Monitoring")
									i.fa.fa-fw.fa-files-o
								button.link-larger.btn.btn-link(ui-sref="app.traffic({ id: app.nameUrl })" title="Traffic Analysis")
									i.fa.fa-fw.fa-bolt
								button.link-larger.btn.btn-link(ui-sref="app.usage({ id: app.nameUrl })" title="Usage Monitoring")
									i.fa.fa-fw.fa-eye
								button.link-larger.btn.btn-link(ui-sref="app.settings({ id: app.nameUrl })" title="Settings")
									i.fa.fa-fw.fa-wrench