.panel.panel-default
	.panel-heading
		h1.panel-title= app.name
			|  Dashboard
	.panel-body
		p.lead Maybe a facebook-like wall of recent events here..
	table.table
		tr
			td
				strong Yesterday 12pm:
				|  Your app restarted
		tr
			td
				strong 2 Days ago 3am:
				|  App went down
		tr
			td
				strong Yesterday 2pm:
				|  App was installed on <code>local</code>
