h1.page-header {{app.name}} Dashboard
	.btn-group.pull-right
		a.btn.btn-md.btn-success(ng-show="app.isInstalled", app-start, ng-disabled="app.isRunning || app.deleted", title="Start")
			i.fa.fa-play.fa-fw
		a.btn.btn-md.btn-warning(ng-show="app.isInstalled", app-stop, ng-disabled="!app.isRunning || app.deleted", title="Pause")
			i.fa.fa-pause.fa-fw
		a.btn.btn-md.btn-default(ng-show="app.isInstalled", app-restart, ng-disabled="!app.isRunning || app.deleted")
			| Restart

table.table
	tr(ng-repeat="ev in app.events")
		td.text-right.col-md-2.col-lg-2.col-sm-2: strong {{ ev.name }}
		td.col-md-8.col-lg-8.col-sm-8 {{ ev.message }}
		td.col-md-2.col-lg-2.col-sm-2(title="{{ev.created.format('DD/MM/YYYY HH:mm:ss')}}") {{ ev.created.fromNow() }}