div(ng-controller="AppDashboardController" ng-init="setCsrf('#{token}')")
	h1.page-header {{app.name}} Dashboard
		.pull-right
			.btn-group
				button.btn.btn-md.btn-success(ui-sref="app.dashboard.addProcess({ id: app.nameUrl })") Add Process
	p.lead You have {{ _app.processes.length }} processes
	table.table
		thead
			tr
				th.col-md-3.col-lg-3.col-sm-3 Process Name
				th.col-md-2.col-lg-2.col-sm-2 Server
				th.col-md-4.col-lg-4.col-sm-4 Running
				th.col-md-3.col-lg-3.col-sm-3 &nbsp;
		tbody
			tr(ng-repeat="process in _app.processes")
				td {{ process.name }}
				td {{ process.server.name }}
				td
					span(ng-show="!process.status || process.status.length == 0") {{ process.running }}
					a.text-muted(ng-show="process.status.length > 0" ng-click="showLog()" style="text-overflow: ellipsis;")
						i.fa.fa-spinner.fa-spin
						| &nbsp;
						| {{ process.status }}
				td
					.pull-right
						.btn-group
							a.btn.btn-sm.btn-success(ng-click="startProcess(process)" ng-disabled="process.running" title="Start Process")
								i.fa.fa-play.fa-fw
							a.btn.btn-sm.btn-danger(ng-click="stopProcess(process)" ng-disabled="!process.running" title="Stop Process")
								i.fa.fa-pause.fa-fw
						.btn-group
							a.btn.btn-sm.btn-default(title="[Un]Watch Process Log" ng-click="watchLog(process)")
								i.fa.fa-fw(ng-class="{ 'fa-eye-slash': !process.log_to_status, 'fa-eye': process.log_to_status }")
							a.btn.btn-sm.btn-info(title="Edit Process" ui-sref="app.dashboard.editProcess({ id: app.nameUrl, pid: process._id })")
								i.fa.fa-edit.fa-fw

	table.table
		tr(ng-repeat="ev in app.events")
			td.text-right.col-md-2.col-lg-2.col-sm-2: strong {{ ev.name }}
			td.col-md-8.col-lg-8.col-sm-8 {{ ev.message }}
			td.col-md-2.col-lg-2.col-sm-2(title="{{ev.created.format('DD/MM/YYYY HH:mm:ss')}}") {{ ev.created.fromNow() }}

	ui-view(autoscroll="false")