div(ng-init="setCsrf('#{token}')")

h1.page-header {{app.name}} Dashboard
	.pull-right
		.btn-group
			a.btn.btn-md.btn-success(process-startup ng-disabled="app.isRunning || app.deleted" title="Start")
				i.fa.fa-play.fa-fw
			a.btn.btn-md.btn-warning(process-stop ng-disabled="!app.isRunning || app.deleted" title="Pause")
				i.fa.fa-pause.fa-fw
			a.btn.btn-md.btn-default(process-restart ng-disabled="!app.isRunning || app.deleted")
				| Restart

p.lead Process Scaling: {{app.processes}}
	.btn-group
		a.btn.btn-md.btn-danger(process-scale-up ng-disabled="app.processes <= 1" title="Reduce Process")
			i.fa.fa-level-down.fa-fw
			|  Remove
		a.btn.btn-md.btn-success(process-scale-down ng-disabled="app.processes >= 10" title="Add A Process" ng-click="addProcess()")
			i.fa.fa-level-up.fa-fw
			|  Add

table.table
	tr(ng-repeat="ev in app.events")
		td.text-right.col-md-2.col-lg-2.col-sm-2: strong {{ ev.name }}
		td.col-md-8.col-lg-8.col-sm-8 {{ ev.message }}
		td.col-md-2.col-lg-2.col-sm-2(title="{{ev.created.format('DD/MM/YYYY HH:mm:ss')}}") {{ ev.created.fromNow() }}