extends ../layout

include appWrapper

block content
	+navbar()
	
	+appWrapper(1)
		.panel.panel-default
			.panel-heading
				.row
					.col-sm-8.col-xs-8.col-md-8.col-lg-8
						h1.panel-title Log #{log.created}
					.col-sm-4.col-xs-4.col-md-4.col-lg-4
						.btn-group.pull-right
							a.btn.btn-success.btn-xs(href="/app/"+app._id+"/log/"+log._id+"/download") Download
							button.btn.btn-info.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown") Select Log 
								span.caret
							ul.dropdown-menu(role="menu")
								li: a(href="/app/"+app._id+"/logs") Latest
								li.divider
								for l in app.logs
									li: a(href="/app/"+app._id+"/log/"+l._id)
										if l._id.equals(log._id)
											| &#10003; 
										= l.created
			.panel-body
				!= log.content