.panel.panel-default
	.panel-heading
		.row
			.col-sm-8.col-xs-8.col-md-8.col-lg-8
				h1.panel-title Log
					if !app.logs
						| Unavailable
					else
						|  - {{ log.created }}
			.col-sm-4.col-xs-4.col-md-4.col-lg-4
				if app.logs
					.btn-group.pull-right
						a.btn.btn-success.btn-xs(ng-disabled="log == null", target="_blank", href="/app/"+app._id+"/log/{{ log._id }}/download?partial=true") Download
						button.btn.btn-info.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown") Select Log 
							span.caret
						ul.dropdown-menu(role="menu")
							li(ng-repeat="l in app.logs")
								a(href="", ng-click="selectLog(l)")
									span(ng-show="l._id == log._id")
										| &#10003; 
									| {{ l.created }}
	.panel-body
		if app.logs
			span(ng-bind-html-unsafe="log.content")
		else
			h4 Your app has no logs available..