.row
	.col-sm-12.col-xs-12.col-md-12.col-lg-12
		h1.page-header Process Logs
			.btn-group.pull-right
				a.btn.btn-success.btn-md(ng-disabled="process.length == 0 || !log || log.length == 0" target="_blank" href="/app/{{ app.nameUrl }}/logs/{{ process }}/{{ log }}/download")
					i.fa.fa-download.fa-fw
					|  Download Log

.row
	.col-sm-4.col-md-4.col-lg-4
		h5 1. Select Process
		select.form-control(ng-model="process" ng-options="proc._id as proc.name group by proc.deletedString for proc in processes")
		h5 2. Select a Log File
		select.form-control(ng-model="log" ng-options="log for log in logs")
		h5 3. Filter
	.col-sm-8.col-md-8.col-lg-8
		pre: ui-view(autoscroll="false")