.pagestyle(ng-controller="AppDashboardController" ng-init="setCsrf('#{token}'); showDashboard = true;")
	.pull-right
		.btn-group
			button.btn.btn-md.btn-default(ng-click="showDashboard = !showDashboard" ng-class="{ 'btn-info': showDashboard, 'btn-default': !showDashboard }")
				i.fa.fa-dashboard.fa-fw
			button.btn.btn-md.btn-default(ng-click="showDashboard = !showDashboard" ng-class="{ 'btn-info': !showDashboard, 'btn-default': showDashboard }")
				i.fa.fa-th-list.fa-fw
		| &nbsp;
		.btn-group
			button.btn.btn-md.btn-success(ui-sref="app.processes.addProcess({ id: app.nameUrl })") Add Process
	p.lead You have {{ _app.processes.length }} process
		span(ng-show="_app.processes.length > 1") es
	.row(ng-show="showDashboard")
		.col-md-6(ng-repeat="process in _app.processes")
			.panel.panel-default.process-box(ng-class="{ 'panel-success': process.running && !process.startStopDisabled, 'panel-danger': !process.running && !process.startStopDisabled, 'panel-info': process.startStopDisabled }")
				.panel-heading
					h3.text-center.panel-title {{ process.name }}
						i.fa.fa-flag.fa-fw.pull-left(ng-hide="process.running" style="color: #000;")
					.clearfix
				.panel-body
					.row
						.col-sm-2
							.btn-group-vertical
								button.btn.btn-sm.btn-success(ng-click="startProcess(process)" ng-disabled="process.startStopDisabled || process.running" title="Start Process")
									i.fa.fa-play.fa-fw
								button.btn.btn-sm.btn-danger(ng-click="stopProcess(process)" ng-disabled="process.startStopDisabled || !process.running" title="Stop Process")
									i.fa.fa-power-off.fa-fw
								button.btn.btn-sm.btn-info(ng-click="process.showInfo = !process.showInfo" title="Show Information" ng-class="{ active: process.showInfo }")
									i.fa.fa-info.fa-fw
								a.btn.btn-sm.btn-default(ui-sref="app.processes.editProcess({ id: app.nameUrl, pid: process._id })" title="Show Information")
									i.fa.fa-edit.fa-fw
						.col-sm-10
							.row(ng-hide="process.showInfo")
								.col-xs-6
									.thumbnail.svg-thumbnail
										svg.rtm(process-graph process="process" type="cpu_percent" max="100" thickness="18")
										h1 {{ process.stat.monitor.cpu_percent }}%
										span CPU Usage
								.col-xs-6
									.thumbnail.svg-thumbnail
										svg.rtm(process-graph process="process" type="rss" max="262144" thickness="18")
										h1 {{ process.stat.monitor.rssString }}
										span RAM Used
							.row(ng-show="process.showInfo")
								.col-xs-8
									p
										strong Server: 
										span {{ process.server.name }}
										br
										strong Cost: 
										span £{{ process.server.price_per_hour }} per hour
										br
										strong Uptime: 
										span ??
								.col-xs-4
									.thumbnail.svg-thumbnail.thumbnail-small.pull-right
										svg.rtm(process-graph process="process" type="cpu_percent" max="100" small thickness="10")
										h1 {{ process.stat.monitor.cpu_percent }}%
										span CPU Usage
									.clearfix
									.thumbnail.svg-thumbnail.thumbnail-small.pull-right
										svg.rtm(process-graph process="process" type="rss" max="262144" small thickness="10")
										h1 {{ process.stat.monitor.rssString }}
										span RAM Used
									.clearfix
	table.table.table-striped(ng-hide="_app.processes.length == 0 || showDashboard")
		thead
			tr
				th.col-sm-2 Process Name
				th.col-sm-2 Server
				th.col-sm-3 Running
				th.col-sm-2 Resources
				th.col-sm-3 &nbsp;
		tbody
			tr(ng-repeat="process in _app.processes")
				td: a(ui-sref="app.processes.editProcess({ id: app.nameUrl, pid: process._id })" title="Edit Process") {{ process.name }}
				td {{ process.server.name }}
				td
					i.fa.fa-fw(ng-show="!process.status || process.status.length == 0" ng-class="{ 'fa-thumbs-down': !process.running, 'fa-thumbs-up': process.running }")
					a.text-muted(ng-show="process.status.length > 0" ng-click="showLog()")
						| {{ process.status }}
				td
					div(ng-show="process.running")
						| {{ process.stat.monitor.cpu_percent }}%
						br
						| {{ process.stat.monitor.rssString }}
					div(ng-hide="process.running")
						| N/A
				td
					.pull-right
						.btn-group(style="padding-right:5px;")
							a.btn.btn-sm.btn-success(ng-click="startProcess(process)" ng-disabled="process.startStopDisabled || process.running" title="Start Process")
								i.fa.fa-play.fa-fw
							a.btn.btn-sm.btn-danger(ng-click="stopProcess(process)" ng-disabled="process.startStopDisabled || !process.running" title="Stop Process")
								i.fa.fa-pause.fa-fw
						.btn-group
							a.btn.btn-sm.btn-default(title="[Un]Watch Process Log" ng-click="watchLog(process)")
								i.fa.fa-fw(ng-class="{ 'fa-eye-slash': !process.log_to_status, 'fa-eye': process.log_to_status }")

	table.table(ng-hide="_app.events.length == 0")
		tr(ng-repeat="ev in _app.events track by $index")
			td: i(title="{{ ev.created }}") {{ ev.timeFormatted }}
			td
				span(ng-show="ev.processObject"): strong {{ ev.processObject.name }}
				span(ng-hide="ev.processObject"): i Deleted Process
			td.text-right: strong {{ ev.name }}
			td {{ ev.message }}

	div(ng-show="_app.processes.length == 0")
		h3 Get your app running!
		ol(style="font-size: 15px;")
			li Add a 
				a(ui-sref="app.domains.addDomain({ id: app.nameUrl })") Domain/Subdomain
			li Add at least one 
				a(ui-sref="app.dashboard.addProcess({ id: app.nameUrl })") Process


	ui-view(autoscroll="false")