.panel.panel-default
	.panel-heading
		.row
			.col-sm-6.col-md-6.col-lg-6
				h1.panel-title= app.name
					|  Resource Usage
			.col-sm-6.col-md-6.col-lg-6
	table.table
		thead
			tr
				th Time
				th CPU Usage %
				th RAM Usage MB
		tbody
			for use in usage
				tr
					td
						= use.time.getHours()
						| :
						= use.time.getMinutes()
					td
						= use.cpu
					td
						= (use.memory / 1024 / 1024).toFixed(2)