extends ../layout

append js
	script(src="#{cdn}/js/controllers/admin/app.js" defer)

block content
	div(ng-controller="AppsController")
		.row
			.col-sm-12
				h1.page-header(style="margin-top: 0;") Applications
		.row
			.col-sm-12
				table.table(ng-table="applicationsTable" show-filter="true")
					tbody
						tr(ng-repeat="app in $data")
							td(data-title="'Created'" sortable="'created'") {{ app.created }}
							td(data-title="'Name'" filter="{ 'nameLowercase': 'text' }" sortable="'name'"): a(href="/admin/app/{{ app._id }}") {{ app.name }}
							td(data-title="'Name Url'" filter="{ 'nameUrl': 'text' }" sortable="'nameUrl'") {{ app.nameUrl }}
							td(data-title="'User'" filter="{ 'user': 'text' }" sortable="'user'"): a(href="/admin/user/{{ app.user._id }}") {{ app.user.name }}
							td(data-title="'Deleted'" sortable="'deleted'") {{ app.deleted }}