.pagestyle
	.row
		.col-xs-12
			h2(style="margin-top: 0;")
				i.fa.fa-question.fa-fw
				|  Support Tickets
				a.btn.btn-success.pull-right(ui-sref="tickets.add")
					i.fa.fa-ticket.fa-fw
					|  New Ticket
	.row
		.col-xs-12
			table.table
				thead
					tr
						th Subject
						th Created
						th &nbsp;
				tbody
					tr(ng-repeat="ticket in tickets")
						td: a(ui-sref="tickets.ticket({ id: ticket._id })") {{ ticket.subject }}
						td(title="{{ ticket.created }}") {{ ticket.createdString }}
						td 
							.btn-group.pull-right(ng-hide="ticket.closed")
								a.btn.btn-xs.btn-default(ui-sref="tickets.ticket({ id: ticket._id })")
									i.fa.fa-reply.fa-fw
									|  Reply
								a.btn.btn-xs.btn-default
									i.fa.fa-times.fa-fw
									|  Close Ticket