
ul.nav.sidenav(role="navigation")
	if pretending
		p.text-center(style="padding: 15px; margin: 0; background: #f2dede; color: #a94442;")
			| Hey #{pretender.name}, you are acting on behalf of 
			i #{user.name}.
		br

	li(ng-class="{ active: $state.includes('gettingStarted') }")
		a(ui-sref="gettingStarted")
			//-i.fa.fa-thumb-tack.fa-fw
			|  Getting Started
	li(ng-class="{ active: $state.includes('apps') || $state.includes('app') || $state.includes('add') }"): a(ui-sref="apps")
		//-i.fa.fa-gears.fa-fw
		|  Gears
	li(ng-class="{ active: $state.includes('databases') || $state.includes('database_add') || $state.includes('database_edit') }"): a(ui-sref="databases")
		//-i.fa.fa-database.fa-fw
		|  Databases
	li(ng-class="{ active: $state.includes('profile.view') || $state.includes('profile.security') }")
		a(ui-sref="profile.view")
			//-i.fa.fa-fw.fa-user
			|  Account Settings
	li(ng-class="{ active: $state.includes('profile.billing') && !$state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.history")
			//-i.fa.fa-fw.fa-money
			|  Billing
	li(ng-class="{ active: $state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.paymentMethods")
			//-i.fa.fa-fw.fa-credit-card
			|  Payment Methods
	li(ng-class="{ active: $state.includes('ssh.keys') }")
		a(ui-sref="ssh.keys")
			//-i.fa.fa-fw.fa-key
			|  SSH Keys
	li(ng-class="{ active: $state.includes('tickets') }")
		a(ui-sref="tickets.tickets")
			//-i.fa.fa-fw.fa-question
			|  Support Tickets

	li(style="margin-top: 20px;"): a(href="/logout")
		i.fa.fa-sign-out.fa-fw
		if pretending
			|  Back to Admin
		else
			|  Logout

	if pretending
		blockquote(style="margin-bottom:0; border-left: 0; margin-top: 10px;") With Great Power Comes Great Responsibility.
				footer Stan Lee, the Spider Man movie
	
	p.text-center.hidden-xs(style="margin-top: 20px;")
		small.text-muted v#{version}-##{versionHash}