
ul.nav.sidenav(role="navigation")
	li(ng-class="{ active: $state.includes('gettingStarted') }")
		a(ui-sref="gettingStarted")
			//-i.fa.fa-thumb-tack.fa-fw
			|  Getting Started
	li(ng-class="{ active: $state.includes('apps') || $state.includes('app') }"): a(ui-sref="apps")
		//-i.fa.fa-gears.fa-fw
		|  Gears
	li(ng-class="{ active: $state.includes('databases') || $state.includes('database_add') || $state.includes('database_edit') }"): a(ui-sref="databases")
		//-i.fa.fa-database.fa-fw
		|  Databases
	li(ng-class="{ active: $state.includes('profile.view') || $state.includes('profile.security') }")
		a(ui-sref="profile.view")
			//-i.fa.fa-fw.fa-user
			|  Account Settings
	li(ng-class="{ active: $state.includes('profile.billing') && !$state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.history")
			//-i.fa.fa-fw.fa-money
			|  Billing
	li(ng-class="{ active: $state.includes('profile.billing.paymentMethods') }")
		a(ui-sref="profile.billing.paymentMethods")
			//-i.fa.fa-fw.fa-credit-card
			|  Payment Methods
	li(ng-class="{ active: $state.includes('ssh.keys') }")
		a(ui-sref="ssh.keys")
			//-i.fa.fa-fw.fa-key
			|  SSH Keys
	li(ng-class="{ active: $state.includes('tickets') }")
		a(ui-sref="tickets.tickets")
			//-i.fa.fa-fw.fa-question
			|  Support Tickets

	li(ng-show="user.admin" ng-cloak style="margin-top: 20px;"): a(href="/admin" target="_blank")
		i.fa.fa-external-link.fa-fw
		|  Admin

	li: a(href="/logout")
		i.fa.fa-sign-out.fa-fw
		|  Logout

	p.text-center.hidden-xs(style="margin-top: 20px;")
		small.text-muted v#{version}-##{versionHash}

	//-.btn.btn-block.btn-default(ng-click="toggleKiosk()")
		i.fa.fa-angle-double-left(ng-if="!kiosk_enabled")
		i.fa.fa-angle-double-right(ng-if="kiosk_enabled")