h3 Transaction Successful

p This is a written confirmation that NodeGear has processed $#{transaction.total} from your chosen payment method.
	br
	| The credits have now been applied to your account.

p Best Regards,
	br
	| NodeGear