h3 Payment Method Created!

p You've successfully added a payment method to your nodegear account..
p If this payment method is marked as default, it will automatically be used for recurring charges (if any).

p Best Regards,
	br
	| NodeGear