extends ../layout

append js
	script(src="#{cdn}/js/controllers/admin/app.js" defer)

block content
	div(ng-controller="AppController" ng-init="init('#{app._id}')")
		.row
			.col-sm-12
				h1.page-header {{ app.name }} App
		.row
			.col-sm-12
				.table-responsive
					table.table
						tbody
							tr(ng-repeat="(key,value) in app")
								td {{ key }}
								td
									a(href="/admin/{{ key }}/{{ value._id }}" ng-show="value._id") {{ value.name }}
									span(ng-hide="value._id" ng-bind="value")